# Vivado generated state
.Xil/
*.jou
*.log
*.backup.log
*.str
*.pb
*.wdb
*.wcfg
*.rpt
*.dcp
*.bit
*.ltx
*.mcs
*.prm
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.srcs/

# Project-specific generated folders
EO_IR_HDSDI_PanoramaStack_BRAM.cache/
EO_IR_HDSDI_PanoramaStack_BRAM.hw/
EO_IR_HDSDI_PanoramaStack_BRAM.ip_user_files/
EO_IR_HDSDI_PanoramaStack_BRAM.runs/
EO_IR_HDSDI_PanoramaStack_BRAM.sim/
EO_IR_HDSDI_PanoramaStack_BRAM.srcs/
batch_build/

# Local/runtime files
dfx_runtime.txt
